<body>

  <div class="container">
      <h1>REGLAMENTO</h1>
      <h2>1. IDEA GENERAL</h2>
        <p>
          El juego propone un conflicto bélico que tiene lugar sobre un mapa-tablero . Para empezar se 
          reparten los países entre los jugadores.
          Todos los jugadores tiene el mismo objetivo a cumplir, conquistar el 60% de los países. Para 
          cumplir con su objetivo el jugador deberá ampliar sus dominios, lo que exigirá emprender 
          ataques y defenderse de ataques adversarios. 
          La mecánica de los combates se basa en el tiro de los dados, pero toma en cuenta la cantidad 
          de dados de ataque y defensa. Este mecanismo indica que no es sólo el azar lo que decide las 
          batallas, sino también, y fundamentalmente, la inteligencia táctica y estratégica del jugador 
          para disponer sus dados.
        </p>
  
  
      <div>
        <h2>2. ELEMENTOS DE JUEGO</h2>
        
            <ul>
              <li>MAPA: una matriz bidimensional que un jugador editará colocando los países y sus uniones de forma aleatoria.</li>
              <li>DADOS: 5 de Ataque y 5 de Defensa. Cada participante elige un color de ficha, que usará durante todo el partido. </li>
            </ul>
      
      </div>
  
  
      <div>
        <h2>3. INICIACIÓN DE LAS HOSTILIDADES</h2>
          <h3>* ATACAR países ajenos. </h3>
            <p>
              Es el turno del primer jugador. 
              Dados de ataque: El jugador dispone de 5 dados de ataque por turno, debe decidir con 
              cuantos dados realizar el ataque, cuando ya no tenga dados de ataque le tocará atacar al 
              siguiente jugador. Estos dados se renuevan en cada ronda
              Dados de defensa: para la defensa de un país el jugador defensor dispone de 5 dados de 
              defensa por turno, debe decidir con cuantos dados defenderse ante cada ataque, a este 
              número se le suma un dado Extra por defenderse. Es decir que el defensor siempre cuenta con 
              un dado extra. Si en la ronda ya ocupó sus 5 dados de defensa solo podrá defenderse con el 
              dado Extra. Los dados de defensa se renuevan en cada ronda.
              Dos países son limítrofes si tiene una frontera en común, o si están unidos por puentes sobre 
              el agua.
              Un país puede atacar a otro (perteneciente a otro color) si: el país atacante dispone de dados 
              de ataque
            </p>
      </div>
  
  
      <h2>4.DESARROLLO DEL ATAQUE</h2>
          <p>
            Supongamos que es el turno de “verde”. Este jugador tiene al menos un dado de ataque en 
            Francia, y desea atacar España, que es de “Rojo”.
          </p>
              <ol>
                <li>
                  Anuncia su ataque: “De Francia a España”.
                </li>

                <li>
                 “Verde” decide con cuantos de los 5 dados de Ataque que posee, realizar el ataque, hasta 
                 un máximo de 3 dados (aunque tuviera más de 3 dados de ataque no puede utilizar más de tres dados).
                </li>

  
                  <li>
                    “Rojo” decide con cuantos dados de los 5 dados de Defensa que posee, realizar la defensa, 
                    hasta un máximo de 3 dados(aunque tuviera más de 3 dados de defensa no puede utilizar más
                    de tres dados), a este número siempre se le suma un dado Extra por defenderse. Es decir, si 
                    decide defenderse con 3 dados, más el dado Extra, se defenderá con 4 dados. Cuando ya no 
                    tenga dados de defensa, solo podrá defenderse con el dado Extra.
                  </li>
  
                  <li>
                    Los contendientes arrojan sus dados. 
                  </li>
  
                  <li>
                    Se suman los números de los dados de Ataque y se comparan con la suma de los dados de 
                    Defensa. Si gana el Atacante, éste se queda con el país en disputa. Si gana el Defensor no 
                    ocurre nada. En caso de empate, al comparar los dados, gana el jugador defensor.
                    El jugador atacante gane o no el territorio que había atacado, puede seguir atacando siempre y 
                    cuando tenga al menos un dado de Ataque en su poder, de lo contrario pasa su turno al 
                    siguiente jugador 
                  </li>
  
                  <li>
                    Al comienzo de cada nueva ronda cada jugador deberá tener 5 dados de Ataque y 5 de 
                    Defensa.
                  </li>
  
                  <li>
                    El primer jugador en conquistar el 60% de los países es el ganador!!
                  </li>
              </ol>
        
      </div>
  
  </body>