.matrizColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.matrizBox {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 4vw;
    height: 4vw;
}

.terreno {
    background-image: url(../../../assets/img/terreno.svg);
}

.agua {
    background-image: url(../../../assets/img/agua.svg);
}
